* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Yantramanav", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  body header img {
    width: 70px; }
  body header .navbar {
    background-color: #0b6d6d; }
  body header .logo-vedelus {
    padding: 10px; }
  body header .nombre {
    margin: 10px; }

main {
  flex-grow: 1;
  /*Quienes somos abre*/
  /*Contacto abre*/ }
  main .foto-header {
    display: flex;
    border: 5px #0b6d6d double;
    align-content: end;
    margin-top: 5px;
    width: 98%;
    height: auto; }
  main .categorias-index {
    margin-top: 1rem;
    border-bottom: 0.5px solid #e2e2e2; }
  main .productos {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
    main .productos .producto {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 210px;
      border: solid 1px grey;
      border-radius: 5px;
      margin: 10px;
      padding-bottom: 5px; }
      main .productos .producto .producto-img {
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 10rem; }
      main .productos .producto .producto-descripcion {
        text-align: center; }
        main .productos .producto .producto-descripcion h3 {
          font-size: 1.2rem;
          font-weight: normal; }
        main .productos .producto .producto-descripcion span {
          font-weight: bold; }
  main .card-quienes-somos {
    margin-top: 2rem; }
    main .card-quienes-somos .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      main .card-quienes-somos .card-body p {
        font-size: large; }
  main .nuestra-historia {
    margin-top: 2rem; }
  main .container-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1.8fr;
    gap: 0px 0px;
    height: 85.5vh;
    grid-auto-flow: row;
    grid-template-areas: "mapas mapas" "como-llegar contactanos"; }
    main .container-contacto .mapas {
      margin-top: 0.5rem;
      grid-area: mapas; }
      main .container-contacto .mapas .mapa {
        padding: 5px;
        width: 1400px;
        height: 400px; }
    main .container-contacto .como-llegar {
      grid-area: como-llegar;
      border-right: 1px solid grey;
      padding: 20px; }
      main .container-contacto .como-llegar .cards-transporte {
        display: flex;
        justify-content: space-around; }
        main .container-contacto .como-llegar .cards-transporte .card-transporte {
          display: flex;
          flex-direction: column;
          align-items: center; }
    main .container-contacto .contactanos {
      grid-area: contactanos;
      padding: 20px; }
      main .container-contacto .contactanos .cards-contactanos {
        display: flex;
        justify-content: space-around; }
        main .container-contacto .contactanos .cards-contactanos .card-contactanos {
          display: flex;
          flex-direction: column;
          align-items: center; }

/*Impresiones abre*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.2fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "banner banner" "servicios-graficos realizamos"; }
  .container .banner {
    margin-top: 10px;
    margin-bottom: 1rem;
    grid-area: banner;
    border-image: 5px; }
    .container .banner img {
      border-radius: 10px;
      width: 100%; }
  .container .servicios-graficos {
    grid-area: servicios-graficos;
    margin-top: 1rem; }
    .container .servicios-graficos .cards-servicios {
      display: flex;
      flex-wrap: wrap; }
      .container .servicios-graficos .cards-servicios .card-servicios {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        align-items: center; }
        .container .servicios-graficos .cards-servicios .card-servicios img {
          width: 70px; }
  .container .realizamos {
    grid-area: realizamos;
    margin-top: 1rem;
    margin-left: 1rem; }
    .container .realizamos .cards-realizamos {
      display: flex;
      flex-wrap: wrap; }
      .container .realizamos .cards-realizamos .card-realizamos {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        align-items: center; }
        .container .realizamos .cards-realizamos .card-realizamos img {
          width: 70px; }

/*Impresiones cierra*/
/*Productos abre*/
.sector-principal {
  width: 1200px;
  margin: auto;
  margin-bottom: 2rem; }
  .sector-principal .banner-promo-filgo {
    width: 1160px; }
    .sector-principal .banner-promo-filgo img {
      margin: 0 auto;
      margin-top: 10px;
      width: 1160px;
      border-radius: 10px; }
  .sector-principal h4 {
    margin-top: 1rem;
    margin-left: 1rem; }
  .sector-principal .prod-bootstrap {
    width: 11rem; }
    .sector-principal .prod-bootstrap img {
      width: 10rem; }

/*Productos cierra*/
@media (min-width: 1200px) {
  main {
    width: 1410px;
    margin: auto; } }

footer {
  background-color: #0b6d6d;
  display: flex;
  justify-content: space-around;
  padding: 10px; }
  footer .footer {
    display: flex;
    align-items: center;
    color: snow; }
    footer .footer a {
      color: snow;
      text-decoration: none; }
