@media (max-width: 576px) {
    main {
        .banner {
            display: inline-block;
            margin-bottom: 2em;
            .foto-header {
                display: flex;
                border: 5px $colorprincipal double;
                align-content: end;
                margin-top: 5px;
                width: 98%;
                height: auto;
            }
            .botonhome {
                position: relative;
                top: 1.5rem;
                right: -5em;
                background-color: $colorprincipal;
                color: white;
                font-size: 1em;
                padding: 1em 1.5em;
                text-transform: uppercase;
                border-color: white;
                border-radius: 1.5em;
            }
        }
        h2 {
            text-align: center;
        }
        .marcas {
            .logos-marcas {
                display: flex;
                flex-wrap: wrap;
                img {
                    width: 10rem;
                }
            }
        }
        .productos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .producto {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 14rem;
                flex-direction: column;
                border: $borde-prod;
                border-radius: 5px;
                overflow: hidden;
                padding-bottom: 5px;
            }
        }
        .quienes-somos {
            margin-top: 1rem;
            text-align: center;
        }

        /*Contacto*/
        .container-contacto {
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "mapas"
                "como-llegar"
                "contactanos";
            .mapas {
                grid-area: mapas;
                h1 {
                    text-align: center;
                }
                .mapa {
                    width: 98%;
                }
            }
            .como-llegar {
                grid-area: como-llegar;
                .cards-transporte {
                    display: flex;
                    flex-direction: column;
                    .card-transporte {
                        margin: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img {
                            padding-right: 5px;
                            width: 3rem;
                        }
                    }
                }
            }
            .contactanos {
                grid-area: contactanos;
                .cards-contactanos {
                    display: flex;
                    flex-direction: column;
                    .card-contactanos {
                        margin: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img {
                            padding-right: 5px;
                            width: 1.8rem;
                        }
                    }
                }
            }
        }
        footer {
            margin-top: 1rem;
        }
        .nuestro-objetivo {
            .d-flex {
                flex-direction: column-reverse;
            }
        }
    }

    /*Impresiones*/
    .container {
        margin: 0;
        display: flex;
        flex-direction: column;
        .servicios-graficos {
            .cards-servicios {
                display: flex;
                flex-direction: column;
                .card-servicios {
                    margin: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img {
                        padding-right: 5px;
                        width: 1.8rem;
                    }
                }
            }
        }
        .realizamos {
            .cards-realizamos {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .card-realizamos {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    margin-top: 10px;
                    img {
                        padding-right: 5px;
                        width: 2.8rem;
                    }
                }
            }
        }
    }

    /*Productos*/
    .sector-principal {
        .banner-promo-filgo {
            display: inline-block;
            margin: auto;
            justify-content: center;
            img {
            }
        .botonprod{
            position: relative;
            top: 0.1rem;
            right: -7em;
            background-color: $colorprincipal;
            color: white;
            font-size: 1em;
            padding: 1em 1.5em;
            text-transform: uppercase;
            border-color: white;
            border-radius: 1.5em;
        }
        }
        .prod-bootstrap {
            width: 9rem;
        }
        .banner {
            .banner-impresiones {
                width: 95%;
            }
        }
    }
}

/*Desktop*/
@media (min-width: 1400px) {
    main {
        width: 1400px;
        margin: auto;
    }
}
